<table mat-table [dataSource]="this.m_DataSource" matSort class="mat-elevation-z8">
  @for (item of tabelleTemplateViewModels; track $index) {
    <ng-container [matColumnDef]="item.mappingName">
      @if (item.isSortierbar) {
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item.displayText }}</th>
      } @else {
        <th mat-header-cell *matHeaderCellDef>{{ item.displayText }}</th>
      }

      <td mat-cell *matCellDef="let element">{{ element[item.mappingName] || '' }}</td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="getSpaltenNamen()"></tr>
  <tr mat-row *matRowDef="let row; columns: getSpaltenNamen()"></tr>
</table>

<mat-paginator [pageSizeOptions]="pageSizes()" showFirstLastButtons> </mat-paginator>
