<h1 matDialogTitle>Einstellungen</h1>
<mat-dialog-content>
  <div class="form-check form-switch mt-2">
    <form>
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="radio"
          id="ltrCheckbox"
          [formField]="!einstellungenForm.isRtl"
        />
        <label class="form-check-label" for="ltrCheckbox"> Left To Right Ausrichtung </label>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close class="btn btn-primary">Schließen</button>
</mat-dialog-actions>
