<div class="navbar navbar-light bg-light border-top mt-auto">
      <div class="container justify-content-center mt-2">
        <div class="w-100 row">
          <div class="col-sm">
            <button data-testid="footer-button-rechtliche-hinweise" class="btn btn-primary w-100" (click)="openRechtlicheHinweise()">
              Rechtliche Hinweise
            </button>
          </div>

          <div class="w-100 mb-2 d-block d-md-none"></div>

          <div class="col-sm">
            <button data-testid="footer-button-einstellungen" class="btn btn-primary w-100" (click)="openEinstellungen()">Einstellungen</button>
          </div>
        </div>
        <div class="mt-3 row">
          <p>&copy; 2026 IPWA01-01 - Programmierung von Webanwendungsoberflächen</p>
        </div>
      </div>
    </div>